.popup__submit_wait{
    background: url(../../../../images/submit_wait.png) center center !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}
