.header__email {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
    margin:0;
    margin-right:24px;
    
  }