.register__input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    padding:0;
    height: 42.08px;
    color: white;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
    outline: none;
    background-color: black;
    
}