@import url(./__container/register__container.css);
@import url(./__form/register__form.css);
@import url(./__input/register__input.css);
@import url(./__login/register__login.css);
@import url(./__title/register__title.css);
@import url(./_type/_button-container/register_type_button-container.css);
@import url(./__button/register__button.css);
.register {
  font-family: "inter", "arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
